.background {
    background: rgb(30, 30, 47);
    height: 100vh;
}

.forum {
    height: 100vh;
    color: white;
    text-align: center;
    padding: 50vh 0;
    z-index: 999;
}

.marker {
    font-size: x-large;
    position: relative;
    bottom: 1vh;
    text-shadow: 0 0 16px rgb(127, 127, 127);
}

.stencil {
    /* position: absolute;
    top: 19vh;
    left: 50vw;
    z-index: 0; */
    animation: spin 60s linear infinite;

    top: -40%;
    left: 45%;
    width: 100px;
    height: 57.735px;
    background: red;
    position: relative;
    transform: scale(2);
}

.stencil::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid red;
}

.stencil::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid red;
}

/* .line1 {
    position: relative;
    height: 100px;
    width: 3px;
    top: 0px;
    left: 0px;
    background: black;
    transform: rotateZ(60deg);
}

.line2 {
    position: relative;
    height: 100px;
    width: 3px;
    top: 0px;
    left: 0px;
    background: blue;
    transform: rotateZ(120deg);
}

.line3 {
    position: relative;
    height: 100px;
    width: 3px;
    top: 0px;
    left: 0px;
    background: red;
    transform: rotateZ(0deg);
}

.line4 {
    position: relative;
    height: 100px;
    width: 3px;
    top: 0px;
    left: 0px;
    background: green;
    transform: rotateZ(0deg);
}

.line5 {
    position: relative;
    height: 100px;
    width: 3px;
    top: 0px;
    left: 0px;
    background: yellow;
    transform: rotateZ(120deg);
}

.line6 {
    position: relative;
    height: 100px;
    width: 3px;
    top: -100px;
    left: 0px;
    background: purple;
    transform: rotateZ(60deg);
} */

@keyframes spin {
    0% {
        transform: rotateZ(0deg) scale(2);
    }
    100% {
        transform: rotateZ(360deg) scale(2);
    }
}